.asset-item div {
	display: block;
	margin-top: 0.3em;
}
.asset-item div.slider {
	display: inline-block;
	width: 10em;
	margin: 0 1em;
}
.rating {
	width: 3em;
}
.comment {
	display: block;
}
#guardar, #eliminar {
	margin-bottom: 1em;
}